<div class="page-header">
        <h1> Список задач </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" [(ngModel)]="text" placeholder = "Описание задачи" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button class="btn btn-default" (click)="addTask(text)">Добавить</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Задание</th>
                    <th>Выполнено</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks; let i=index">
                    <td>{{task.description}}</td>
                    <td><input type="checkbox" [(ngModel)]="task.done" /></td>
                    <td><button class="btn btn-default" (click)="deleteTask(i)">Удалить</button><td>
                    <td><a class="btn btn-default" [routerLink]="['task', i]">Изменить</a><td>
                </tr>
            </tbody>
        </table>
    </div>